<header>
    <h1 id="top">Welcome <%= locals.name %></h1>
    <h1 id="top1" style="font-family:edu;">FoodShop</h1>

    <nav id="navbar">
        <ul id="navcontent">
            <li><a href="/admin">Menu</a></li>
            <li><a href="/admin/addmenu">Add Menu Item</a></li>
            <li><a href="/admin/allorders">Orders</a></li>
            <li><a href="/admin/deliverers">Delivery</a></li>
            <li><a href="/logout">Sign Out</a></li>
        </ul>
    </nav>
</header>