<header>
    <h1 id="top">Online Food Ordering System</h1>
    <h1 id="top1" style="font-family:edu;">FoodShop</h1>

    <nav id="navbar">
        <ul id="navcontent">
            <li><a class="active" href="/home">Home</a></li>
            <li><a class="active" href="/home/cart">Cart</a></li>
            <li><a class="active" href="/home/homemenu">Menu</a></li>
            <li><a class="active" href="/home/delivery">Delivery</a></li>
            <li><a class="active" href="/logout">Sign Out</a></li>
        </ul>
        
    </nav>
</header>