*{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: edu;
    src: url(/fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}
@font-face {
    font-family: edu2;
    src: url(/fonts/Caveat-VariableFont_wght.ttf);
}
html{
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    background-image: url(/images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    min-height:100%;
    padding-bottom:100px;
    padding-top:230px;
    box-sizing: inherit;
}

/*Designing the footer*/
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.544);
    height: 100px;
    color:white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/*Header Styling*/

header{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.534);
    right: 0;
    left: 0;
    top: 0;

}

#top{
    color:rgb(255, 255, 255);
    text-align:center;
    font-size:66px;
    font-family: edu;
    padding: 20px;
}
#top1{
    
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:21px;
    font-family: edu2;
    padding-bottom: 10px;
}
/* Navigation bar styling*/


/*Navbar Functionality*/
#navbar{
    display: flex;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.218),rgba(255, 255, 255, 0.233));
    font-family: edu;
    height: auto;
    justify-content: center;
}

ul{
    list-style-type: none;   
}

li{
    padding:10px 40px 10px 40px;
    
}

ul li a{
    color:white;
    text-decoration: none;
    font-size: 40px;
    border-radius:10px;
}
ul li:hover{
    background-color: rgba(255, 255, 255, 0.227);
    border-radius: 10px;
    border:transparent;
}

/*Navbar content functionality*/
#navcontent{
    display: flex;
    margin-left: 20px;
}

.link{
    line-height: 10px;
    font-size: 30px;
    color: rgb(245, 78, 78);
    text-decoration: none;
    display: block;
    font-family: montserrat;
    margin-top: 30px;
}

.link:hover{
    color: #ffc107;
}

.main{
    color:white;
    font-size: 40px;
    text-align: center;
}

.timer{
    margin: 20px 0 0 0;
    font-size: 60px;
    font-family: edu2;
}

#order-status{
    margin: 20px 0 0 0;
    font-family: montserrat;
}

.deliverer{
    font-family: montserrat;
    font-size: 25px;
}