body{
    margin: 0;
    padding: 0;
    background: url(/images/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'montserrat', sans-serif;
}

#form{
    top: 50%;   
    left: 65%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-color: black;
    border-radius: 20px;
    padding: 25px;
    width: 900px;  
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#form legend{
    margin-bottom: 40px;
    font-size: 40px;
}

.link{
    line-height: 10px;
    font-size: 14px;
    color: darkgrey;
    text-decoration: none;
    display: block;
    margin: 30px 0 100px 0px; 
    text-align: center;
}

.link:hover{
    color: #ffc107;
}